<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="./unit-tests/Owl/Tests/Bootstrap.php"
        >

    <testsuites>
        <testsuite name="Owl">
            <directory>./unit-tests/Owl/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>